{{>layouts/header}}
<body>
    <form action="/articles/create" method="post">
        <input type="text" name="title">
        <textarea name="content"></textarea>
        <button type="submit">Submit</button>
        <a href="/articles">메인으로</a>

    </form>

</body>
{{>layouts/footer}}