{{>layouts/header}}
<body>
    <form action="/articles/create" method="post">
        <input type="text">
        <textarea></textarea>
        <button type="submit">Submit</button>
    </form>
</body>
{{>layouts/footers}}